Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  cppcoreguidelines-*,
  misc-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-magic-numbers,
HeaderFilterRegex: '*.(h|hpp)'
