
[flake8]
doctests = True
exclude =
    **/__init__.py
max-line-length = 88
select = C,E,F,W,B,B950
extend-ignore = E203,E501,E129,E111,E303,E211,E201,E114,E261,E262,E226,E302,E121
per-file-ignores =
    setup.py:F401
