[submodule "testing/data"]
	path = testing/binaries/data
	url = https://github.com/MRtrix3/test_data
	ignore = dirty
[submodule "testing/script_data"]
	path = testing/scripts/data
	url = https://github.com/MRtrix3/script_test_data.git
	ignore = dirty