*.o
*_moc.cpp
*.so
*.dll
*.dylib
*.a
*~
*.swp
*.pyc
*.mif
*.mih
*.dat
*.nii
*.nii.gz
*.mri
*.img
*.hdr
*.qrc
icons.cpp
/config.*
/configure.log
/build.log
/test/build.log
/lib/version.cpp
/src/project_version.h
/test/src/project_version.h
/bin/
/test/bin/
/dev/
.cproject
.project
.settings
.pydevproject
mrtrix3.config
mrtrix3.creator
mrtrix3.creator.user
mrtrix3.files
mrtrix3.includes
scripts/.Rhistory
scripts/.RData
