*.o
*~
*.swp
*.pyc
*.mif
*.mih
*.dat
*.nii
*.nii.gz
*.mri
*.img
*.hdr
*.rste
*.venv
config
build.*
/configure.log
/build.log
/core/version.cpp
/src/exec_version.cpp
/src/project_version.h
/lib/mrtrix3/_version.py
/test/src/project_version.h
/scripts/mrtrix_bash_completion
/dev/
/compiled_docs/
/.vscode/
.cproject
.DS_store
.idea
.project
.settings
.pydevproject
*.config
*.creator
*.log
*.creator.user
*.files
*.includes
*.code-workspace
.__tmp.log
.check_syntax.tmp
.check_syntax2.tmp
build/
CMakeLists.txt.user
testing/data/tmp*
testing/data/*-tmp-*
*.venv
/interfaces/pydra/src/pydra/tasks/mrtrix3/*
_version.py
version.cpp
exec_version.cpp
__pycache__
.DS_Store

# Pydra related ignores

_version.py
/interfaces/pydra/src/pydra/tasks/mrtrix3/v3_0
/interfaces/pydra/**/dist/**
.pytest_cache
/build*
/install
