sudo: false
language: cpp
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - zlib1g-dev
      - libqt4-opengl-dev
      - python3
compiler:
  - clang
env:
  - py=python2
  - py=python3
install: 
  - export NUMBER_OF_PROCESSORS=4
  - export PATH=`pwd`/release/bin:`pwd`/scripts:${PATH}
  - export EIGEN_CFLAGS=-I`pwd`/../eigen
  - (cd ..; hg clone https://bitbucket.org/eigen/eigen/; cd eigen; hg update 3.3)
script:
  - ./check_memalign && $py ./configure -assert && $py ./build -nowarnings && ./run_tests

after_failure: 
  - cat memalign.log
  - cat configure.log
  - cat build.log
  - cat testing.log
  - sleep 10
