version: 1.0.{build}
image: Visual Studio 2017
platform: x64
configuration: Release
clone_folder: c:\msys64\mrtrix3
shallow_clone: false

init:
  - git config --global core.autocrlf input

build_script:
  - cmd: C:\msys64\msys2_shell.cmd -mingw64 -here -defterm -no-start -c "pacman -S --noconfirm bc mingw-w64-x86_64-diffutils mingw-w64-x86_64-eigen3 mingw-w64-x86_64-fftw mingw-w64-x86_64-libtiff mingw-w64-x86_64-qt5 python > pacman.log" || (appveyor PushArtifact %APPVEYOR_BUILD_FOLDER%/pacman.log & EXIT 1)
  - cmd: C:\msys64\msys2_shell.cmd -mingw64 -here -defterm -no-start -c "python --version"
  - cmd: C:\msys64\msys2_shell.cmd -mingw64 -here -defterm -no-start -c "./configure -assert" || (appveyor PushArtifact %APPVEYOR_BUILD_FOLDER%/configure.log & EXIT 1)
  - cmd: C:\msys64\msys2_shell.cmd -mingw64 -here -defterm -no-start -c "./build -nowarnings -nopaginate" || (appveyor PushArtifact %APPVEYOR_BUILD_FOLDER%/build.log & EXIT 1)

test_script:
  - cmd: C:\msys64\msys2_shell.cmd -mingw64 -here -defterm -no-start -c "./run_tests" || (appveyor PushArtifact %APPVEYOR_BUILD_FOLDER%/testing.log & EXIT 1)

artifacts:
  - path: pacman.log
  - path: config
  - path: configure.log
  - path: build.log
  - path: testing.log

