
[flake8]
doctests = True
exclude =
    **/__init__.py
    *build/
    docs/sphinxext/
    docs/tools/
    docs/conf.py
    fileformats/mrtrix3/_version.py
    docs/source/conf.py
max-line-length = 88
select = C,E,F,W,B,B950
extend-ignore = E203,E501,E129
per-file-ignores =
    setup.py:F401
